<!DOCTYPE html>
<html>
<head>
  <title>About Page</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main-container">

  <header>
    <h1>About Page</h1>
  </header>

  <nav>
  	<ul>
  		<li><%= link_to 'Home', root_path %></li>
  		<li><%= link_to 'About', about_path %></li>
  	</ul>
  </nav>

  <section id="main">
	  <div class="row">
    	<div class="col-md-12">
        <h1>Top Section</h1>
      </div>
    </div>
  </section>
  
  <div class="row">
    <div id="left">
   		<div class="col-md-6">
 	      <h2>Left Side</h2>
      </div>
    </div>
    <div id="right">
   		<div class="col-md-6">
 	      <h2>Right Side</h2>
      </div>
    </div>
  </div>
  
  <footer>
    <p>Copyright 2016 Tom Cowan</p>
  </footer>

</div><!-- main container end -->
</body>
</html>